/* Trying Other Way */



.container{
    margin-top: 50px;
    font-family: 'Mukta', sans-serif;

}

.allBlogs-list{   
    background-color: white;
    margin: 0px;
    margin-top: 50px;
    padding: 5px;
    border-radius: 0px;
}

.main-blog{
    background-color: white;
    margin-top: 0px;
    padding-top: 0px;
}

.single-blog{
    margin-bottom: 20px;
    padding: 1px;
    background-color: #FBFCFD;
    min-height: 120px;
}

.first-row{
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.image{
    margin: 0px;
    width: auto;
}

.image img{
    padding: 0px;
    margin: 0px;

}

.first-row > .details > a{
    text-decoration: none;
    color: black;
}

.first-row > .details > a:hover{
    text-decoration: none;
    color: #F16334;
}


.second-row{
    padding-left: 30px;
    padding-right: 30px;

}

.singleBlog-title{
    font-size: 16px;
    margin-bottom: 0px;
}

.singleBlog-description{
    font-size: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}



