.jumbotron{
    background-color: #332E2D;
    margin-bottom: 0px;
    color: white;
}

i{
    color: grey;
}

.container{
    max-width: 500px;
    font-size: 25px;
}

.verticalline{
    border-left: 2px solid grey;
    height: 170px;
}

.contact{
    margin-top: 50px;
}

.navigate{
    color: grey;
}

.navigate p{
    font-size: 15px;
}

.navigate a{
    text-decoration: none;
}