footer{
    background-color: #FFFFFF;
    margin-bottom: 0px;
    font-family: 'Mukta', sans-serif;
}

i{
    font-size: 20px;
}

a{
    color: #F16334;
}

.name{
    color: #FFFFFF;
    background-color: #F16334;
    margin-top: 0px;
    margin-bottom: 10px;
}

a:hover {
    color: white;
    background-color: #F16334;
}





