<footer>
<div class="jumbotron">

    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href=""><i class="fab fab fa-twitter"></i></a>
        </div>
        <div class="col-md-3">
            <a href=""><i class="fab fab fa-google-plus-g"></i></a>
        </div>
        <div class="col-md-3">
            <a href=""><i class="fab fa-linkedin-in"></i></a>  
        </div>

        <div class="col-md-3">
            <a href=""><i class="fab  fa-facebook"></i></a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="contact col-md-5">
            <input type="button" class="btn btn-default" value="Contact Us">
        </div>
        <div class="col-md-1 verticalline"></div>
        <div class="navigate col-md-5">
            <h3>Navigate</h3>
            <a href=""><p>Blogs</p></a>
            <a href=""><p>Q/A</p></a>
            <a href=""><p>Interview Experiences</p></a>
        </div>
    </div>

</div>

</div>
</footer>