    <!-- <div class='container carousel'> 
        <div class="row"> 
        <div class='col-12'>  
            <ngb-carousel>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background1.jpg" alt="First Slide">  
                    <div class="carousel-caption">  
                        <h3>First Slide</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background2.jpg" alt="Second Slide">  
                    <div class="carousel-caption">  
                        <h3>Second Slide</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background4.jpg" alt="Third Slide">  
                    <div class="carousel-caption">  
                        <h3>Third Slide</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background5.jpg" alt="Fourth Slide">  
                    <div class="carousel-caption">  
                        <h3>Fourth Slide</h3>  
                    </div>  
                </ng-template>  
            </ngb-carousel>  
        </div>
        </div>  
      
    </div> -->
    <!-- <div class="background"> -->
    <img class="background" src="../../../assets/images/homebg.png" alt="">


    <div >
        <!-- <p class="quote">“Who told you it was too late ?"</p> -->
        <p class="text">Start your <br> Blogging Journey</p>
    </div>

    <button class="btn" routerLink="/blogs" ><i class="fas fa-arrow-circle-right"></i></button>
    
    
        <!-- </div> -->


<app-footer></app-footer>