.background{
    z-index: -1;
    margin-top: -70px;
    padding: 0px;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text{
    z-index: 1;
    font-size: 60px;
    color: white;
    position: absolute;

    top: 240px;
    left: 4%;
    font-family: 'Fredoka One', cursive;
}


.btn{
    font-size: 70px;
    color: #F16334;
    position: absolute;
    padding: 20px;

    top: 450px;
    left: 4%;
    font-family: 'Fredoka One', cursive;

}