    <div class='container carousel'> 
        <div class="row"> 
        <div class='col-12'>  
            <ngb-carousel>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background1.jpg" alt="First Slide">  
                    <div class="carousel-caption">  
                        <h3>First Slide</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background2.jpg" alt="Second Slide">  
                    <div class="carousel-caption">  
                        <h3>Second Slide</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background4.jpg" alt="Third Slide">  
                    <div class="carousel-caption">  
                        <h3>Third Slide</h3>  
                    </div>  
                </ng-template>  
                <ng-template ngbSlide>  
                    <img src="../../../assets/images/background5.jpg" alt="Fourth Slide">  
                    <div class="carousel-caption">  
                        <h3>Fourth Slide</h3>  
                    </div>  
                </ng-template>  
            </ngb-carousel>  
        </div>
        </div>  
      
    </div>

<div class="container">  
    <!-- <img src="../../../assets/images/background1.jpg" alt=""> -->

    <br>
    <hr>

    <div class="blogheading">
        <h2>Popular Posts</h2>
        <button type="button" class="btn btn-primary">See More...</button>
        
    </div>
    
    



    <div class="jumbotron">


        <div class="singleblog">
            <img src="../../../assets/images/blog.jpg" alt="" >
            <hr>
            <h4>Title Of Blog</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <hr>

            <div>
                <input class="readmore" type="button" value="Read More.."> | 
                <a class="like" href=""><i class="far far fa-thumbs-up"></i></a>
            </div>
        </div>

        <div class="singleblog">
            <img src="../../../assets/images/blog.jpg" alt="" >
            <hr>
            <h4>Title Of Blog</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <hr>

            <div>
                <input class="readmore" type="button" value="Read More.."> | 
                <a class="like" href=""><i class="far far fa-thumbs-up"></i></a>
            </div>
        </div>

        <div class="singleblog">
            <img src="../../../assets/images/blog.jpg" alt="" >
            <hr>
            <h4>Title Of Blog</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <hr>

            <div>
                <input class="readmore" type="button" value="Read More.."> | 
                <a class="like" href=""><i class="far far fa-thumbs-up"></i></a>
            </div>
        </div>


    </div>

    

</div>

<app-footer></app-footer>